.card {
    border: none
}

.product {
    background-color: #eee
}

.brand {
    font-size: 13px
}

.act-price {
    color: #40a455;
    font-weight: 700
}

.dis-price {
    text-decoration: line-through
}

.about {
    font-size: 14px
}

.color {
    margin-bottom: 10px
}

.quantity {
    margin-right: 10px;
    padding: 6px;
    width: 90px;
    border-radius: 3px;
    text-align: center;
    color: var(--theme-secondary);
}

.btn-danger:focus {
    box-shadow: none
}

.cart i {
    margin-right: 10px
}