[data-bs-theme=light] {
    --theme-primary: #ffe4ec; /* gin change ko ni ang color */
    --theme-primary-variant: #000; /* gin change ko ni ang color */
    --theme-secondary: #03DAC6; 
    background-image: url('../images/babybg2.png'); /* gin change ko ni ang bg image */
}

[data-bs-theme=dark]  {
    --theme-primary: #ffe4ec; /* gin change ko ni ang color */
    --theme-primary-variant: #000; /* gin change ko ni ang color */
    --theme-secondary: #03DAC6; 
    background-image: url('../images/babybg3.png'); /* gin change ko ni ang bg image */
}

[data-bs-theme=dark] #navtext{ /* gin change ko ni ang text color sa nav bar kung dark mode */
    color: #000 !important;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


