[data-bs-theme=light] {
    --theme-primary: #f67291; /* gin change ko ni ang color */
    --theme-primary-variant: #913d7f; /* gin change ko ni ang color */
    --theme-secondary: #03DAC6; 
    background-image: url('../images/babybg2.png'); /* gin change ko ni ang bg image */
}

[data-bs-theme=dark]  {
    --theme-primary: #442b50; /* gin change ko ni ang color */
    --theme-primary-variant: #913d7f; /* gin change ko ni ang color */
    --theme-secondary: #03DAC6; 
    background-image: url('../images/babybg2.png'); /* gin change ko ni ang bg image */
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


