[data-bs-theme=light] {
    --theme-primary: #ffe4ec;
    --theme-primary-variant: #000;
    --theme-secondary: #03DAC6;
    background-image: url('../images/babybg2.png');
}

[data-bs-theme=dark]  {
    --theme-primary: #ffe4ec;
    --theme-primary-variant: #000;
    --theme-secondary: #000;
    background-image: url('../images/babybg3.png');
}

[data-bs-theme=dark] #navtext{
    color: #000 !important;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


