.navbar{
	z-index: 99;
	background-color: #c1dbf2 !important;
}

body{
	padding-top: 8em; 
	background-image: url('../images/babybg2.png');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.logo{
	width: 180px;
	border-radius: 10px;
	
}
#footer{
	background-color: #c1dbf2 !important;
}
